* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dc9bf6;
}

.pantalla {
    user-select: none;
  
}

.pantalla .cronometro {
    height: 100px;
    background: #f6b8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 5px #32e9e2;
    border: none;
}

.pantalla .cronometro span {
    width: 60px;
    text-align: center;
    font-size: 45px;
    font-weight: 520;
    color: rgb(11, 118, 134);

}
.cronometro span.separador,
.cronometro span.separador-mili{
    width: 13px;
}
.cronometro span.separador-mili,
.cronometro span.milisegundo{
    color: rgb(60, 32, 219);
}
.pantalla .botones{
    text-align: center;
    margin-top: 30px;

}
.botones button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin:0px 10px;
    color: rgb(11, 118, 134);
    background: #e0d9db;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9rem;
    cursor:pointer;
    box-shadow: 3px 4px 3px 0px #dc9bf6;

}
.botones button.on {
    pointer-events: none;
    opacity: 0.7;
    
}